<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />

    <title>Title</title>

    <link href="css/html5reset.css" rel="stylesheet" />

    <link href="css/style.css" rel="stylesheet" />

</head>

<body>

    <header>

        <hgroup>

            <h1>Web Consulting</h1>
            
    <aside>

        <figure>

            <img width="800" height="250"

                src="http://www.mlabs.com/wp-content/uploads/2012/12/headerbig_websolution.png"

                />

            <figcaption>Desarrollo para entorno Web</figcaption>

        </figure>

    </aside>

            <h2>Grupo 4</h2>

        </hgroup>

    </header>

    <nav>

        <ul>

            <li>Roger Paucar</a></li>

            <li>Segundo Leon</a></li>

            <li>Jonathan Sucasaca</a></li>

        </ul>

    </nav>

    

</body>

</html>