<h4 class= "main-title" align="center"></h4>
<div class="body-text">
</div>
<div class="progress">
  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    <span class="sr-only">100% Complete</span>
    Welcome to TaxiXpress
  </div>
</div>


