
    <header>

        <hgroup>

            <h1>Web Solution</h1>
            
    <aside>

        <figure>

            <img width="800" height="250"

                src="http://www.mlabs.com/wp-content/uploads/2012/12/headerbig_websolution.png"

                />

            <figcaption>Desarrollo para entorno Web</figcaption>

        </figure>

    </aside>

            <h2>Grupo 4</h2>

        </hgroup>

    </header>

    <nav>

        <ul>

            <li>Roger Paucar</a></li>

            <li>Segundo Leon</a></li>

          

        </ul>

    </nav>

